name: feature-nodejs-pipeline
on:
  workflow_call: # will be called by someone, should get inputs from caller
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      environment:
        required: true
        type: string
env:
  ACC_ID: 324169293494        
jobs:
  feature-nodejs-pipeline:
    runs-on: self-hosted
    steps:
    - name: checkout code
      uses: actions/checkout@v6
    - name: list files
      run: ls -l

    - name: get the version
      run: |
        # if you store it in GITHUB_ENV, you can use in other steps in the same job
        echo "APP_VERSION=${GITHUB_SHA::9}" >> "$GITHUB_ENV"

    - name: print inputs
      run: |
        echo ${{ inputs.project }}
        echo "version: ${APP_VERSION}"

    - name: install dependencies
      run: npm install
    - name: run unit tests
      run: echo "run unit tests"
    - name: docker build
      run: |
        docker build -t ${ACC_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION} .
        docker images